[2013-11-15 17:35] rafinskipg opened #1 "Create a Grunt Plugin"
I want this project to be a grunt plugin, available to be installed with npm

I want the gruntfile to allow configuration for:
- Repository url
- ? export format ?

[2013-11-17 02:10] #1 closed, assigned to nobody

[2013-11-17 02:11] rafinskipg opened #2 "Use the repo_url"
At the momment the repo_url is only used for the issues / commits link.
The git commands only work in the actuall git project.

[2013-11-19 14:23] oscarteston opened #3 "New features"
- Deploy changelog in a browser
- Provide throught a link  access to the details of commit to the remote repository

[2014-01-16 07:31] colegleason opened #4 "Document tag behavior"
how does this work when you have tags? It seems to try to grab a tag from way back.

[2014-01-16 07:33] colegleason opened #5 "Getting undefined as base commit"
[code]

[2014-01-28 16:06] #5 closed, assigned to nobody

[2014-10-06 22:36] chasevida opened #8 "Is this still active?"
Just downloaded and gave this a try and it works pretty good. However, I've noticed there's a few unanswered issues and I'm wondering if this is because you're no longer maintaining this project. If not are you using another tool to achieve this? I'd be keen to know as I've tried a few unsuccessfully.

Thanks.

[2014-10-06 23:28] #8 closed, assigned to nobody

[2014-10-06 23:40] chasevida opened #9 "Output not formatting new lines correctly"
Two little formatting issues that are closely related.
1. When outputting a series of commits that fall under the same `feature` the sub list displays inline rather than giving each new item a new line.
2. Commits under a `type` list are also not displaying correctly on their own new line. I suspect that this may be related/flowing on from the previous issue.

See the below example that was genera

[2014-10-07 19:56] chasevida opened #10 "CLI option"
Was thinking it would be great if you could run this straight from the terminal as a cli also. That way you could do a global install, set up a few config options and simply call it from the command line. It might read the repo package.json file to retrieve the url and name so you don't have to pass that along.

[2014-10-11 16:38] #9 closed, assigned to rafinskipg

[2014-10-12 15:41] rafinskipg opened #11 "Change Options"
Change the task options to:

[code]

Where:

**File can be**
[code]

[2014-10-12 15:51] #2 closed, assigned to nobody

[2014-11-23 12:12] #10 closed, assigned to nobody

[2014-11-23 12:13] #4 closed, assigned to nobody

[2014-11-23 12:48] rafinskipg opened #13 "Roadmap"
For v1

-  avoid using Angular commit standards and allow any configuration through .changelogrc

[2015-04-10 17:50] JohnnyEstilles commented on #13
+1 ... this would be AWESOME!

[2015-04-17 21:14] andre-ferreira-qlik opened #14 "Not possible to overwrite defaults"
Here's my configuration:

[code]
When run:
Executing git changelog:
  - The APP name is My app - Changelog
  - The output file is CHANGELOG.md

Running "git_changelog:minimal" (git_changelog) task
Error generating changelog  [TypeError: Cannot call method 'indexOf' of undefined]
Error generating changelog  [TypeError: Cannot call method 'indexOf' of undefined]

[2015-04-17 21:19] andre-ferreira-qlik commented on #14
The error message didn't help at all. The issue relates to the fact that no remote url was set. It would be nice to have a check on the return value of "git config --get remote.origin.url" and let the user know its not set.

[2015-04-18 10:35] rafinskipg commented on #14
I'm gonna take a look!

[2015-04-18 11:06] rafinskipg commented on #14
First of all, if you don't have a remote set, you can pass the option `repo_url`.

I have added a warning if you don't have `repo_url` set and it doesnt have a remote.

[code]

You can pass the `debug` param to true if you want to see more detailed logs.

[2015-04-18 11:08] rafinskipg commented on #14
The 2 first messages

[code]

Are shown because somewhere it is requiring the `command.js` file, but this logs doesn't mean that this is being generated this way. I'm going to try to find why this is happening.

Anyway, when you set the `repo_url` and the `debug` option to true you will have this working

[2015-04-18 11:08] #14 closed

[2015-04-18 11:08] rafinskipg commented on #13
@JohnnyEstilles I'm going to start working on this

[2015-04-18 11:13] rafinskipg opened #15 "Avoid launching CLI option on certain cases"
When you are using the grunt task, it launches also the cli option

This is because the `bin` is defined on the `package.json`

[code]

This causes that it executes it 2 times..

[2015-04-18 11:27] JohnnyEstilles commented on #13
That's great news! I'm actually working on a `gulp` version of this project. The OSS projects to which I contribute are split between `grunt` and `gulp` so I kinda need both. :-)

[2015-04-18 12:10] rafinskipg commented on #14
I have uploaded a new version `0.1.6` that fixes that problem.

If you have any issue let me know.

Also I'm adding more tests for ensuring that the options works well.

[2015-04-18 12:10] rafinskipg commented on #15
Fixed in `0.1.6`

[2015-04-18 12:10] #15 closed

[2015-04-18 12:12] rafinskipg opened #16 "Add more tests"
Ensure that the options works as described.

For that it has been created a `msg` that is getting constructed through the `changelog.generate` method, then it can be parsed on the tests to ensure that certain conditions have been met.

[code]

[2015-04-18 12:13] rafinskipg commented on #13
Nice, it works as a CLI so you can just add a wrapper on that.

I have published a 0.1.6 version that solves some bugs, but there are some hidden bugs that i'm fixing by adding more tests, see:

https://github.com/rafinskipg/git-changelog/issues/16

Once I'm done with the tests and all the functionality works as described i'll start with the `.changelog.rc` configuration file

[2015-04-18 12:18] rafinskipg commented on #13
I would like to remove all the deprecated params for version 0.2.0.

@JohnnyEstilles  If you have any suggestion or improvement, let me know :)

Thank you

[2015-04-18 12:22] rafinskipg opened #17 "Remove deprecated options"
Remove deprecated option's names and ensure that there are not duplicated functionalities

[2015-04-18 15:57] #17 closed

[2015-04-18 15:59] rafinskipg opened #18 "Add sinon for better tests"
Right now the new tests doesn't ensure that the functionality is working, instead they ensure certain paths of the code are used, make use of sinon for ensuring certain functions are called. Stub and compare if provided params are ok.

[2015-04-18 22:00] JohnnyEstilles opened #19 "Refactor code to improve testability"
@rafinskipg, I completely agree with issues #16 and #18. We definitely need to increase test coverage and using`sinon` would be a great addition to the test suite.

That said, as-is the existing code-base is somewhat difficult to test. Before you proceed with `0.2.0` I suggest the following:

- [x] decouple tests from the `git_changelog` grunt task, replace with fixtures so test input is predictab

[2015-04-18 22:09] JohnnyEstilles commented on #13
Given that `gulp` is stream oriented, I think it would better for me to recreate to the functionality than simply wrap your CLI.

I definitely agree with the need to increase the project's test coverage before you proceed with `0.2.0`.

Deprecate at will! We've had fair warning and should no longer be using them.

I opened at new issue (#19) to outline my suggestions.

[2015-04-18 22:33] rafinskipg commented on #19
I cannot agree more on that, Johnny.

All what you suggest would be a great adition to git changelog. Once we are done with the refactors we can move to the changelogrc stuff.

Feel free to pullrequest whatever you want :)

[2015-04-19 09:44] JohnnyEstilles commented on #19
Already started working on the PR. Should submit within a day or two.

[2015-04-19 09:51] JohnnyEstilles commented on #19
@rafinskipg, I do have a question. What is the purpose of `tasks/hacky.js`?

[2015-04-19 10:13] rafinskipg commented on #19
It is unused, it was used prior to have the CLI option available. :)

[2015-04-19 10:16] JohnnyEstilles commented on #19
Good. I was trying to figure out what it was, and it was driving me nuts! I will remove for cleanup purposes.

FYI ... I'm done refactoring. I working on the adding additional tests now.

[2015-04-19 10:24] rafinskipg commented on #19
Ty! :100:

[2015-04-19 19:58] andre-ferreira-qlik commented on #14
Hello,
I've since move to another solution. I open the issue just to make you aware has i didn't have the time to fix and contribute. Once i have more time I'll re-check it, so thank you for fixing it.
Best regards
André

[2015-04-19 21:13] rafinskipg commented on #14
ok @andre-ferreira-qlik , I let you know that everything is fixed, next time you can try addint the `repo_url` param:

[code]

[2015-04-20 23:29] JohnnyEstilles opened #21 "ENOENT error when calling changelog.generate()"
Found that `.writeChangelog()` (which is called by  `.generate()` does not wait for the `open` event on its `stream` parameter. When `stream` is set to `stdout` by `.generate()` its no big deal. If the file passed to `fs.createWriteStream()` already exists it's also not an issue. However, if the file doesn't exists then writing to the stream may sporadically fail with an ENOENT error.

I propose r

[2015-04-20 23:41] rafinskipg commented on #21
Looks good, i have never discovered this issue but felt that sometimes files weren't generating correctly sometimes, good job!

[2015-04-21 05:58] estilles opened #22 "Replace Q with as faster promise library (Bluebird or RSVP)"
I personally favor Bluebird, but I'm open to suggestions. :-)

[2015-04-21 09:28] JohnnyEstilles commented on #22
Check out http://jsperf.com/pimp-vs-bluebird-vs-q-vs-rsvp/7 for a performance comparison.

[2015-04-21 10:07] JohnnyEstilles commented on #21
There appears to be an additional bug. `fs.createWriteStream()` fails if the destination folder doesn't exist. Probably no an issue, since most consumers likely use the default settings (i.e. `CHANGELOG.md` in the project root).

[2015-04-21 11:26] JohnnyEstilles commented on #21
Finally fixed! :-)

[2015-04-21 11:26] #21 closed

[2015-04-21 12:15] rafinskipg commented on #19
Hi @JohnnyEstilles The PR is merged, i have added also some changes to the writeStream that were producing weird behaviours since the beggining. The stream was not closed and sometimes the files weren't written well.

[code]

Thank you for the nice improvements, i'm going to release version 1.7.0

[2015-04-21 12:17] JohnnyEstilles commented on #19
Would you mind reopening this issue? There are still some pending tasks. I would prefer to close it when I'm done.

[2015-04-21 12:18] JohnnyEstilles commented on #19
Did you run the tests before you pushed?

[2015-04-21 12:32] rafinskipg commented on #19
Ok, yes, i saw it, now they are fixed. :+1:

[2015-04-21 13:03] JohnnyEstilles commented on #19
Good job with the fix! :-) Almost done with this issue.

[2015-04-21 13:22] JohnnyEstilles commented on #19
We need to work on our close climate score. 1.7! We can do better. :-)

[2015-04-21 14:29] rafinskipg opened #24 "Custom logo"
Generate changelogs with custom logo embebed

[code]

Adding this markup to the file

[code]

That will generate a similar output to this:

![changeloglogo](https://cloud.githubusercontent.com/assets/1152768/7254469/9ae4230a-e843-11e4-950c-e22619f35a03.png)

[2015-04-23 17:52] rafinskipg commented on #22
I have nothing to opose, bluebird seems cool

[2015-05-13 07:24] JohnnyEstilles commented on #19
Code climate up to 4.0, coverage at 96% ... Now we're cooking. Going to close this issue now.

[2015-05-13 07:24] #19 closed

[2015-05-13 07:27] JohnnyEstilles commented on #24
Just out of curiosity, why use HTML (`<img>` tag) vs markdown?

[2015-05-13 07:31] rafinskipg commented on #24
I think i decided to use the img tag because of the availability to add styles, so we can set a maximum width for the logo. I don't know if the markdown tag allows to use styles to wrap the image

[2015-05-13 07:34] JohnnyEstilles commented on #24
Got it! :-)

[2015-05-14 02:39] JohnnyEstilles opened #26 "Project Logo"
@rafinskipg, what do you think of this as our project logo?

![git-changelog-logo](https://cloud.githubusercontent.com/assets/5514878/7625073/1c4d14b8-fa25-11e4-987f-fe113ab73f87.png)

[2015-05-14 10:52] rafinskipg commented on #26
+1

[2015-05-14 20:54] JohnnyEstilles commented on #26
New logo added via e29b2dd8e088386eeec3f0c125973de6c8cdc2c6.

[2015-05-14 20:54] #26 closed

[2015-06-04 11:24] JohnnyEstilles opened #27 "Simplify Changelog#generate by using `fs-extra` to create stream"
[fs-extra](https://www.npmjs.com/package/fs-extra#emptydir-dir-callback) has an `#createOutputStream` method that is exactly like `fs#createWriteStream`, but if the directory does not exist, it's created. This will allow us to simply the logic in `Changelog#generate`.

This refactoring will be a backwards compatible change.

What do you say @rafinskipg?

[2015-06-04 20:36] rafinskipg commented on #24
I have started working on this :)

[2015-06-04 20:36] rafinskipg commented on #27
i say :+1:

[2015-06-04 20:37] #18 closed

[2015-06-04 20:37] #16 closed

[2015-06-04 20:41] rafinskipg commented on #13
* 0.2.0 *
- Logo
- .changelogrc

[2015-06-04 22:10] rafinskipg opened #28 "Extended changelog, group by tags"
Add the possibility to group by tags just like here https://github.com/angular/angular.js/blob/master/CHANGELOG.md

[2015-06-04 22:22] rafinskipg opened #29 "Change the use of version option"
Version option should only be used if :
- There is no tag name / there is no tag

If a tag is provided,  use this format:
# v0.2.0 - Version Name (Date)

Note that _version_ would be 'Version Name'

[2015-06-04 22:55] JohnnyEstilles commented on #27
Implemented via #30

[2015-06-04 22:55] #27 closed

[2015-06-09 23:39] rafinskipg opened #31 ".changelogrc specification"
Hi @JohnnyEstilles ,

I have started working on the .changelogrc specification for the version 0.2.0 , but previously i'm doing some refactors, i have started with the logger and i will continue this week.

I would like you to take a look to the specification and let me know if you have any thought about it : https://github.com/rafinskipg/git-changelog/tree/changelogrc#changelogrc-specification

A

[2015-06-09 23:39] #24 closed

[2015-06-09 23:43] rafinskipg opened #32 "v0.2.0"
Lists of tasks needed :

- [ ] Group commits by tag when generating from the beggining of time
- [ ] Add a breaking changes section to our readme when the 0.2.0 is released
- [ ] Add our own changelog once we generate next versions
- [ ] Create our own .changelogrc file for our project
- [X] Change log colors
- [X] Clean readme
- [X] Logo in changelogs

[2015-06-09 23:43] rafinskipg commented on #13
Continues in #32

[2015-06-09 23:43] #13 closed

[2015-06-09 23:44] rafinskipg commented on #11
Continues in #32

[2015-06-09 23:44] #11 closed

[2015-06-09 23:44] rafinskipg commented on #31
See #32 for v0.2.0 Goals, add any suggestion you want :)

[2015-06-09 23:46] rafinskipg commented on #28
#32

[2015-06-09 23:47] rafinskipg commented on #29
#32

[2015-06-09 23:49] rafinskipg commented on #3
Hi @oscarteston i am thinking about the remote deployment of changelogs, but, very late in the future. Maybe we can have a NPM package for deploying changelogs automatically to github or generate pages like github.pages. But lower priority right now, thanks!

[2015-06-09 23:50] JohnnyEstilles commented on #31
@rafinskipg ... That's awesome! Since you already started on `v0.2.0` I will hold off on the transition to `Bluebird` (#22). I fear simultaneous work on these two will yield a large number of conflicts. We can either do it as the last step to `0.2.0` or on the next release. You're call. The `Bluebird` transition will be a non-breaking change, so we can do it any time.

[2015-06-09 23:51] JohnnyEstilles commented on #31
I'll check out the new specifications and goals and comment on them a bit later during the day.

[2015-06-10 22:09] rafinskipg commented on #31
I have updated all the README with more changes https://github.com/rafinskipg/git-changelog/blob/changelogrc/README.md  :+1:

[2015-06-10 22:09] rafinskipg commented on #32
Updated README https://github.com/rafinskipg/git-changelog/blob/changelogrc/README.md

[2015-06-11 05:11] JohnnyEstilles commented on #32
README looks much better. :-) :+1:

[2015-07-07 10:17] richardthombs commented on #28
I love the idea of grouping by tag, but would prefer that the grep pattern be made optional. Ie, if the commit message or tag annotation matches the grep, then use it to decorate the tag, but otherwise just use the tag name.

[2015-07-07 13:05] richardthombs opened #34 "Closed-source options"
Sorry to be the evil-one, but I would like to use this tool to generate change logs for a closed-source project. To do this, I need
- [ ] An option to turn off the github commit links, as our readers won't have access to the repo.
- [ ] An option to override the salute message.

I'm happy to write the pull request for this, but I would like some advice on how to pass options object through to the

[2015-08-17 14:13] stojanovic opened #35 "Getting "Error generating changelog undefined" error when I try to re-generate changelog"
Here's everything, I tried with `--debug` but it's not returning any better error:

[code]

[2015-09-01 18:36] rafinskipg commented on #35
Hi @stojanovic  can you do a "git log" command and send me the logs to see what can be the problem?

Also try doing `git changelog -e` and tell me what happens.

Ty

[2015-09-01 18:45] rafinskipg commented on #34
Hi, @richardthombs , yeah you can write a pull request if you want.

All the default options are specified in `/tasks/default.js` .

In the `/tasks/command.js` you can see an example of how this defaults are overriden:

[code]
The `lodash` `_.defaults` methods, clones the object and assigns some extra overriden values. (See lodash.com docs)

After having the `options` object, we assign some new va

[2015-09-01 18:47] richardthombs commented on #34
Thanks for the info, I'll take a crack at it soon.

[2015-09-01 19:37] stojanovic commented on #35
[code]

But `git-changelog` still fails :)

[2015-10-06 08:28] chrisjbrown opened #36 "pull-requests and merge commits"
How are people dealing with the automatically generated commit messages? I get 'warning incorrect commit messages' for these.

ex:

'Merge pull request #5 from ...'

'Merge branch 'feature A'

[2015-10-20 07:30] richardthombs commented on #35
Do you have any tags defined? If not, I think you might have to include `-t false` in order to get it to work.

[2015-10-20 07:32] richardthombs commented on #36
Speaking for myself, I make sure that all branches have been rebased to to head of master before merging so that you always get fast-forward merges.

[2015-10-20 08:29] stojanovic commented on #35
I had tags at that point and I tried with `-t false` and it wasn't working.
In the meantime I switched to a new laptop and upgraded OS X so now it works, not sure if it was version or some other issue, but I tried to reinstall it, of course.
Closing this since I don't have an issue anymore.

[2015-10-20 08:29] #35 closed

[2015-11-21 14:08] daddykotex commented on #32
Hey @rafinskipg

Thanks for the tool it is great. I'm thinking of adding it to our build process. Unfortunately, we use JIRA and I didn't find a way to generate proper URL to the ticket. I would like to fork and add the feature. What do you think? Is it something that could find it's way in the main repo? I'm asking so I don't work too much for something that will never be used by the rest of the

[2015-11-23 09:32] rafinskipg commented on #36
Maybe we can try to add a way to parse this automattic generated messages into a list of pull requests and branch merged

[2015-11-23 09:49] chrisjbrown commented on #36
Makes sense to me. I'm surprised others haven't had the same issue.

[2016-01-05 23:17] angelblade27 opened #39 "Unable to generate changelog"
I am testing out the cli version of this tool with the following log
[code]

however when i run the changelog it doesnt parse anything
[code]
It looks like it parsed nothing.
1.) What am I doing wrong?
2.) Will it parse the merge requests?

[2016-01-13 11:36] ivanbatic commented on #39
The documentation is incorrect. *Chore* won't get picked up by default.
You can solve this by adding it to the grep parameter:
`git log  --grep="^chore|^fix|^feat|^docs|BREAKING" ...`

[2016-01-13 17:34] angelblade27 commented on #39
Thanks!

[2016-01-13 17:34] #39 closed

[2016-01-13 17:40] angelblade27 opened #40 "Incorrect url being generated for the commit id (HELP WANTED)"
I have my config as such  ( removing some internal stuff)

[code]

and when I generate the change log the link to the commit gets formatted as such
https://<internal git lab host>/<group>/<test>/commits/426fc8efaea3b245f7ca07532e9edee644f3fe42

For some reason it has 'commits' instead of 'commit' which messes up the link

[2016-01-14 08:53] rafinskipg commented on #39
Thanks @ivanbatic  :dancer:

[2016-02-04 13:17] xcambar opened #42 "Append to CHANGELOG"
Hey,
I've added `git-changelog` to a project and though it works very well, I was quite surprised to see that the default (and only, afaict) behaviour is to overwrite the CHANGELOG.

Did I miss an option? Are there any plans in `0.2` to change that behaviour?

FWIW, I've had to do the following to have it append:
* Copy the current Changelog to a temp file
* generate the new changelog
* Remove hea

[2016-04-19 14:12] mlarcher opened #48 "Remove Grunt from peerDependencies"
Considering that the module works like a charm without grunt, would you mind removing grunt from the peerDependencies in the package.json ? It prevents using shrinkwrap as we don't use grunt at all. What do you think ?

[2016-04-19 14:56] rafinskipg commented on #48
I'll do it yes! I also have to end that refactor i started xD

Spam me if i forgot to do it
El 19/04/2016 16:12, "Matthieu Larcher" <notifications@github.com> escribió:

[2016-04-20 15:14] mlarcher commented on #48
Any chance you make a suick patch version for that before finishing the refacto ?

[2016-05-08 16:24] rafinskipg commented on #48
@mlarcher  Done in version 1.0.0 ,

[2016-05-08 16:24] #48 closed

[2016-05-08 16:25] rafinskipg commented on #42
Hi! Sorry for the enourmous delay @xcambar  I think it's time to implement those features you are requesting.

Do you mind if we discuss them all here?

[2016-05-08 16:27] rafinskipg commented on #36
Hi @chrisjbrown  In version v1.0.0 (despite it's not very well implemented :shaved_ice: ) you can add some greps for pull requests and branch merges, using this configuration:
[code]
under the `sections` zone

[2016-05-08 16:27] #36 closed

[2016-05-08 16:29] rafinskipg commented on #32
Yeah @daddykotex  It would be great to have that feature, as the most used are github or Bitbucket + Jira

I'm closing this issue because version 1.0.0 has been released despite the fact that not all the features are implemented

[2016-05-08 16:29] #32 closed

[2016-05-08 16:30] rafinskipg opened #49 "Group Commits by tag"
As specified in the readme , finish the enhancement of grouping commits by tag

[2016-05-08 16:30] #49 closed

[2016-05-08 17:03] rafinskipg opened #51 "If no .changelogrc file is found it crashes"

[2016-05-08 17:04] rafinskipg opened #52 "If the repo has no tag and the -t option is not set to false it crashes"

[2016-05-09 09:42] mlarcher commented on #48
Great, thank you!

[2016-05-09 09:49] mlarcher opened #53 "Header image is hardcoded to 300px"
https://github.com/rafinskipg/git-changelog/blob/master/tasks/lib/print-header.js#L7
Why not let the image native width apply ?

[2016-05-09 09:59] rafinskipg commented on #53
+1 :dancer:

[2016-05-09 09:59] rafinskipg commented on #53
maybe we could make it configurable through some styles and templating.

[2016-05-09 13:08] xcambar commented on #42
No worries about the delay, I'm happy to see the project move forward!

I did not have a look at the 1.0 yet, if you have any lead or info, I'll gladly take it :)

[2016-06-09 09:24] simonrenoult opened #54 "Use consistent case on commit scopes"
I find a bit silly to end up with several `scopes` (eg: https://github.com/rafinskipg/git-changelog/blob/master/EXTENDEDCHANGELOG.md `README` vs `readme`) simply because the scope has been written with different cases. Couldn't it be uppercased/lowercased (or maybe have an option to enable that?)

[2016-06-09 11:40] rafinskipg commented on #54
yay, it makes sense.

Also the "grep" option maybe can do the trick for now,

`git log --grep="%s" -E --format=%s %s..' + (this.options.branch ? `

If you can send a grep that accepts both uppercase and lower case, it will work.

Can you try that? @simonrenoult

[2016-07-26 14:37] Sjors opened #56 "Show warnings by default"
E.g. `Invalid changelogrc file` is pretty crucial; I didn't realise this was the issue until I ran with `--debug`.

Alternatively some warnings could be upgraded to errors.

[2016-07-26 14:58] rafinskipg commented on #56
Ok @Sjors  Any suggestion is welcomed! (Any PR too xD ) I will try to look at this as soon as i can.

[2016-07-28 20:46] alampros commented on #54
You can use the `-i` flag for `git log` (see [man](https://www.kernel.org/pub/software/scm/git/docs/git-log.html))

[2016-07-29 11:00] rafinskipg commented on #54
@alampros thanks!

@simonrenoult  its done! i'll release a patch

[2016-07-29 11:03] rafinskipg commented on #54
But I see that it did not work as expected. I should take more time  :dancer:

[2016-07-29 11:41] #54 closed

[2016-07-29 12:39] rafinskipg opened #57 ".changelogrc not searched in the running directory"
When using a grunt task it does not search for the .changelogrc on the current dir where the script is runned

[2016-10-17 10:11] ibbatta opened #59 "Grunt git_changelog doesn't work"
I am trying to use this plugin but doesn't work.
Every time I try to run task `git_changelog` the console show me log `Warning: Task "git_changelog" not found. Use --force to continue`

[2016-10-18 06:36] rafinskipg commented on #59
Hi Mauricio, how did you installed It? Have you used the -g option to
install It?

Are you under another OS different than Linux?

El 17 oct. 2016 12:11 p. m., "Maurizio Battaghini" <notifications@github.com>
escribió:

[2016-11-04 10:39] con-ssc opened #62 "Version does not default to tag name"
I removed the version from the rc to that it uses the last tag but it doesn't
[code]

[2016-11-07 08:28] con-ssc opened #63 "Grouped by tag for the full history"
Is it possible to have sections grouped by tags from the beginning of the log history? currently enabling tags will only show changes till the last tag but I want to have the changes grouped by those tags.

[2016-11-25 15:35] StanDimitroff commented on #40
Same here. Issues also are referenced with wrong links. Is there an issue with the GitLab hosts?

`{
    "app_name": “Test”,
    "branch" : “master”,
    "repo_url": "https://<internal git lab host>/<group>/<test>",
    "version" : "v1.0.0",
    "file": "CHANGELOG.md",
    "sections": [
        {
            "title": "Bug Fixes",
            "grep": "^fix"
        },
        {
            "title":

[2016-11-28 16:21] adamchenwei opened #64 "Make this available for webpack or gulp?"
Is there a plan to do this i the future? Since I am not using grunt at all, the command line option is likely the only one. Though it would be nice to have it built into the build system though. How hard is it? I would love to help. Though, need to learn to use this in command line first, ha.

or there is easier way to integrate into those two hot ones?

[2016-11-28 18:38] rafinskipg commented on #64
Hi @adamchenwei I think you can integrate it into your gulpfile by using some package likehttps://github.com/sun-zheng-an/gulp-shell

But its a bit.. shitty :sweat:

It could be great if someone implemented a gulp plugin for git-changelog by wrapping it's core (separated first into another project)

[2016-11-29 20:50] adamchenwei commented on #64
gotcha! thats good. so I guess webpack is the same, just run the command line. pretty doable solution I would say! Thanks!

[2016-12-15 17:40] adamchenwei opened #65 "What branch is the git log generated in comparing to?"
Lets for example if I am in a feature branch, I generated the change log... in compare with a choose branch and only show changes in diff between those two specific branches. How can I do that? I did not see a way I can do it yet.

Any guidance on this?

Thanks!!!

[2016-12-16 14:14] #65 closed

[2016-12-16 14:16] adamchenwei opened #66 "How to read tag that created in the new line?"
For example for a single commit message I have

[code]

so in the 3rd line, there will be a `reg` tag, but even I added in the changelogrc, it seems still not get recognized.

How can I make it recognizable even its not at the beginning of the commit message?

[2016-12-16 16:21] rafinskipg commented on #66
Hello!

Currently you can only add a section (feat...) per commit. Because commits
best practices tells that you should only do one specific task per commit.
Anyway, i'm working on New changes so I might think in a way of adding two
sections to the same co.mit message. But for now it's not possible. I will
tell you if I develop it.
``

El 16 dic. 2016 3:16 p. m., "Adam Chen Wei" <notifications@git

[2016-12-17 10:42] rafinskipg commented on #51
If no changelogrc is found, it shows an error but continues.

[2016-12-17 10:42] #51 closed

[2016-12-17 10:43] rafinskipg commented on #53
I have added templates to the new version @mlarcher , so closing, i will release it as soon as i can

[2016-12-17 10:43] #53 closed

[2016-12-17 10:44] rafinskipg commented on #52
It is fixed, thanks to somebody pr

[2016-12-17 10:44] #52 closed

[2016-12-17 10:52] rafinskipg commented on #56
Hello @Sjors I have fixed it in the "templating" branch, i will merge once i resolve all the important issues. Also now it will support template configuration for printing the changelog. (With underscore templates.. ugh... haha)

[2016-12-17 10:52] #56 closed

[2016-12-20 13:21] jhonatanTeixeira opened #67 "Sorry, you've not configured an origin remote or passed a `repo_url` config value"
i've got this config:
´´´
{
    "app_name": "processo",
    "logo": "https://github.com/rafinskipg/git-changelog/raw/master/images/git-changelog-logo.png",
    "intro": "Projeto de controle",
    "branch" : "master",
    "repo_url": "git@xxxxxx:xxxxxx/processo.git",
    "version" : "v1.0.0",
    "file": "CHANGELOG.md",
    "sections": [
        {
            "title": "Correções de Bug",

[2016-12-20 22:28] adamchenwei commented on #66
@rafinskipg would you point to the correct section to work on? I can see if I can work on it! thanks

[2016-12-20 22:51] adamchenwei commented on #66
also, I wonder if I can just keep everything after, without parsing at least? is there easy way to achieve that? or the place I can do some tweak to adjust that? thanks a lot @rafinskipg

[2016-12-21 12:12] rafinskipg commented on #66
hello @adamchenwei

I have done a test with your commit and i can get all as a body with the current version:

[code]
What is the output you are getting?

---

About the other thing, getting 2 Section greps per commits, i'm not sure if its a good idea, it adds a lot of complexity. But the place to do it would be on the function `organizeCommits` in `tasks/lib/organize-commits.js`. I'm still not su

[2016-12-21 14:07] adamchenwei commented on #66
@rafinskipg ahhhhh cooool, so you are using `\n` , so what I did was doing `git commit -m "feat(ad): make new ad -m "some note here" -m "reg(ad): need a walk through" I guess its different from just type in `\n` ... but when I do things like this, commit message shows me some thing super raw like `feat(change log): new text\n AIR-1234\n reg(whole thing): goooooo through` when I `git log` the commi

[2016-12-21 14:20] rafinskipg commented on #67
Hello @jhonatanTeixeira can you print the output you get from running it with `--debug` ?

Adding a remote repository log without being in the current folder of the repository doesn't work.

Internally we use `git log` command, on the current repository.  So you must run the command in the current repository folder.

For ex:

[code]

Git does not provide the functionality of retrieving the history

[2016-12-21 14:21] rafinskipg opened #68 "Create changelogs from non-downloaded repositories"
Git does not provide the functionality of retrieving the history from a repository you have not downloaded.
In order to have the feature of logging remote repositories without being in a repo folder some code has to be written.
I think in terms of functionality it should do something like this:

Whenever a user types -r REPO_URL on a folder that it's not a git repo:
Create a folder called .tmp (in

[2016-12-21 14:22] rafinskipg commented on #67
#68

[2016-12-21 14:42] rafinskipg commented on #66
HI @adamchenwei i will test it later but the changelog is markdown so a \n would not be shown. I think you were doing it right at the first time. You don't have to type the '\n' stuff.

You can try to just do `git commit` and write the commit message with then line jumps there if you want.

But i'll tell you tomorrow, i should do some tests with more messages and generate the logs.

[2016-12-21 18:06] adamchenwei commented on #66
@rafinskipg yes, I actually tried use `shift + enter` that actually worked lololol, wonder why there is a difference

[2016-12-21 21:38] adamchenwei opened #69 "How to run the `git-changelog` locally without install globally?"
I tried to run it with `./node_modules/git-changelog git-changelog` seems not really working. Is there a right way to do it if I do not want to install it globally?

[2016-12-21 22:09] adamchenwei commented on #69
Found it!! `./node_modules/git-changelog/tasks/command.js`

[2016-12-21 22:09] #69 closed

[2016-12-25 12:14] rafinskipg commented on #63
This would be a nice improvement... It is not possible curently.

[code]

[2016-12-25 12:21] rafinskipg commented on #62
I have changed it to use `version_name` in the new version of git-changelog. Getting the current version name from the tag data it's not supported yet

[2016-12-25 12:38] rafinskipg commented on #40
Yep @StanDimitroff @angelblade27

Currently it only uses github and bitbucket provider links. You can expand this code in order to get the correct link formats:

[code]

It is under `tasks/lib/get-provider-links.js`. All the help is welcome!

[2016-12-25 12:39] rafinskipg commented on #34
@richardthombs  With the new template system you can add your custom salute message and your custom link formatting. :+1:

[2016-12-25 12:39] #34 closed

[2016-12-25 12:40] #31 closed

[2016-12-25 13:27] richardthombs commented on #34
What else could I ask for on Christmas day! THANK YOU :)

[2016-12-25 16:53] rafinskipg commented on #34
Merged and 1.2.0 released! Thank you too! merry xmas

[2017-01-03 11:16] wahmedswl opened #71 "Multiple Sections in single commit"
Hi,
   I have following commit message

[code]

It isn't added to changelog, is there something missing or i am doing wrong? Is there something there for multiple sections data in single commit just like this one?

Thanks

[2017-01-03 17:05] #66 closed

[2017-01-05 08:30] wahmedswl opened #72 "template.md"
Hi,
   Sample template misses space between version no. which causes it to not display it with proper heading.

![git-changelog](https://cloud.githubusercontent.com/assets/15020561/21673458/d48990e2-d34a-11e6-9d1f-b12692f96884.PNG)

[2017-01-06 12:55] #72 closed

[2017-01-06 13:22] wahmedswl commented on #42
Hi,
   This feature is really important as versioned changelog will give quick insight of any changes made in the version. This is what https://github.com/vaab/gitchangelog providing. This feature should be on priority and would love to have that near future.

Thanks

[2017-01-06 13:44] rafinskipg commented on #42
hi @wahmedswl  @xcambar  i totally forgot about this one when doing 1.1.0. Ok, this will be the next thing i implement. If any of you is willing to help, you are more than welcome

Thanks

[2017-01-06 19:04] wahmedswl commented on #42
@rafinskipg thanks for making it a priority 👍

[2017-01-11 00:05] fabn commented on #63
I was trying this project because I thought that this kind of output was the default. This should be implemented because ideally one would run `git-changelog` just before releasing a new version and the output should be a full changelog of the whole project.

For some projects I used [this tool](https://github.com/skywinder/github-changelog-generator) which produces [this output](https://github.co

[2017-01-11 07:48] con-ssc commented on #63
That output is similar to what I would expect, but not grouped by a tag but by the date only or both options.

[2017-01-11 08:27] #40 closed

[2017-01-17 16:33] adamchenwei opened #75 "explanation on the logic for git log"
in the debugging log I saw this ...

`git log --grep="^fix|^feat|^docs|BREAKING|^refactor|^style|^test|^Merge branch|^Merge pull request" -i -E --format=%H%n%s%n%b%n==END== master-1.0.83..HEAD`

I especially interested to know what `master-1.0.83..HEAD` does? I am still having issue understanding, that, how the log of changes got pulled in? Is it base on comparing parent branch that current branch

[2017-01-17 17:30] adamchenwei commented on #75
http://stackoverflow.com/questions/41702411/explanation-on-the-logic-for-git-log-command-git-log-master-1-0-83-head

[2017-01-17 17:30] #75 closed

[2017-01-23 13:01] batazor commented on #63
@rafinskipg At the moment, I can't group items by tag, as in angular CHANGELOG?

[2017-03-09 11:15] wahmedswl commented on #42
Hi,
   Is there any timeline for v1.1.0 as this feature will be shipping with it?

Thanks

[2017-03-14 16:30] brettpostin commented on #69
A safer option may be `./node_modules/.bin/git-changelog`

[2017-03-14 16:35] brettpostin commented on #42
+1 Would love to have a full changelog grouped by tag.

[2017-05-19 10:11] youvalteboul opened #79 "Date of commit"
Hi,
i want to add the date of the commit in changelog.

it is possible to set a custom format of git log and get the commit date ?

thank you

[2017-07-05 15:19] richardthombs commented on #71
As a point of style, I would have made those changes as two separate commits, and I expect that's what the tool expects.

[2017-09-12 15:45] WuglyakBolgoink commented on #64
@adamchenwei  something like this with [gulp-run](https://www.npmjs.com/package/gulp-run):
[code]

[2017-09-29 15:12] #59 closed

[2017-10-25 06:51] cantado opened #81 "Wrong default tag"
Hi,

I just realized, that the default tag is wrong if there are more then 10 minor or patch versions in a row. Git sort them alphabetically instead of the version.

For example (version v1.0.0 - v1.12.0):
[code]

[code]

It's just a small change, so i don't create a new pull request.
Please change [this line](https://github.com/rafinskipg/git-changelog/blob/master/tasks/lib/set-defaults.js#L9) fr

[2018-04-14 06:36] addicted2sounds opened #83 "template docs"
Are there any docs on creating custom template? How can I find out `commit`/`section` object components. I want to add commit message body to the log. How can I achieve that?

[2018-04-21 16:01] bryanbartow commented on #63
Any update on this?

[2018-06-28 08:55] SkyzohKey commented on #63
Hey guys, any news? :c

[2018-07-13 14:09] splincode commented on #63
Any update on this?

[2019-02-19 13:55] rafinskipg commented on #83
@addicted2sounds  I will introduce a commit template so you can customize it

[2019-02-19 13:56] rafinskipg commented on #81
ok! i will add in the new version

[2019-02-19 13:57] rafinskipg commented on #79
I will introduce a commit template so you can use it @youvalteboul

[2019-05-14 14:50] lorenzo-bc opened #85 "How to include all the commits"
This is my `.changelogrc`
`{
    "app_name": "Git Changelog",
    "logo": "https://github.com/rafinskipg/git-changelog/raw/master/images/git-changelog-logo.png",
    "intro": "Git changelog is a utility tool for generating changelogs. It is free and opensource. :)",
    "branch" : "",
    "repo_url": "",
    "version_name" : "v1.0.0",
    "file": "CHANGELOG.md",
    "template": "myCustomTemplate.m

[2019-05-16 10:36] rafinskipg commented on #85
Hello, the grep option passed is used in the command to pick the logs, i guess if you find a regular expression that is compatible to do what you want, you may do it. Sorry, i don't know clearly if it is possible

[2019-05-16 10:42] lorenzo-bc commented on #85
I  tried

[code]
but this doesn't match any

[2019-07-17 14:40] glebcha commented on #81
@rafinskipg can you add updated tail to master and bump version?

[2019-08-15 17:38] smoliakov opened #86 "Add support for Node 12"
### Using:
- Node 12.8.0
- OS Windows 10
- git-changelog 1.1.2

### Problem:
[code]

### Notes:
`primordials` is a native Node.js core part and there were changes in 11+ regarding this.

[2020-01-21 07:21] Phylu commented on #86
@rafinskipg I assume, that this repository is not active anymore and this will not be resolved?

[2020-01-30 19:19] #86 closed

[2020-01-31 10:23] Phylu commented on #86
Thanks for the fix! Is it possible to create a new release with this fix included?

[2020-02-03 07:15] glebcha commented on #86
I hope @rafinskipg will publish new version soon, but for now you can add git repository as dependency.

[2020-02-03 09:44] glebcha commented on #22
@rafinskipg do you have cons about migration to native promises instead of using libs?

[2020-02-13 21:28] glebcha opened #89 "Upgrade test env"
Migrate sinon, mocha and chai to latest stable versions.

[2020-02-14 08:23] glebcha commented on #89
@rafinskipg can you help with investigation https://travis-ci.org/rafinskipg/git-changelog/jobs/650335177#L384 ?

[2020-02-14 13:44] glebcha commented on #64
Webpack plugin implementation is planned.

[2020-02-19 09:15] #89 closed

[2020-02-19 10:00] #22 closed

[2020-02-22 08:28] glebcha commented on #86
@smoliakov @Phylu new version published, please check 1.2.0

[2020-03-04 15:27] rafinskipg opened #93 "error: Bad link to repo"
@glebcha  I noticed that in the master branch there is an error, now it picks the git@.. repo url instead of the https, can yout take a look at it?

![image](https://user-images.githubusercontent.com/1152768/75894774-02b64a00-5e35-11ea-965e-2148fe49c97a.png)

[2020-03-04 15:31] rafinskipg commented on #79
@youvalteboul  https://github.com/rafinskipg/git-changelog/pull/91 will fix this, you can customize the commit template afterwards

[2020-03-04 15:33] rafinskipg commented on #81
Sorry ! Didnt see this, fixing for v2.0.0 https://github.com/rafinskipg/git-changelog/pull/94

[2020-03-04 15:35] rafinskipg commented on #71
You can now customize the commits as seen in https://github.com/rafinskipg/git-changelog/pull/91 , in the template you can add also some kind of extra parsing

[2020-03-04 15:35] #71 closed

[2020-03-04 15:39] rafinskipg commented on #63
hello guys! The project is now more active, we are going to priorize this @splincode  @SkyzohKey @bryanbartow @batazor @ghost @fabn  Sorry for the long wait

[2020-03-04 16:13] glebcha commented on #93
The solution is to parse url taken with `git config --get remote.origin.url`, get provider if it is in known list and replace common variations with https.

[2020-05-04 14:59] glebcha commented on #93
@rafinskipg Should be fixed with https://github.com/rafinskipg/git-changelog/pull/95

[2020-05-08 19:02] #93 closed

[2020-05-25 08:23] #79 closed

[2020-05-25 08:25] rafinskipg commented on #83
@addicted2sounds we introduced a commit template, check the docs and examples to see how to add it

[code]

[2020-05-25 08:25] #83 closed

[2020-05-25 08:26] #57 closed

[2020-05-25 08:26] #3 closed

[2020-05-25 08:27] #29 closed